node_modules
npm - debug.log *
.npm
        .env
        .env.local
        .env.development.local
        .env.test.local
        .DS_Store
        .vscode
        .git
        .gitignore
README.md
data / backups
